.navbar .navbar-default {
    background-image: url('../../../../../../web/bundles/BookReviewBundle/assets/images/banner.jpg')
}

@media screen and (max-width: 600px) {
    .search-container {
        float: none;
    }
    a, input[type=text], .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    input[type=text] {
        border: 1px solid #ccc;
    }
}

.disclaimer{
    font-style: italic;
}

#search_bar{
    width:20px;
}