{% extends "::base.html.twig" %}

{% block title %}BookReviewBundle:Page:book title{% endblock %}

{% block body %}
    <header>
        <h1>About "Read Together"</h1>
    </header>
    <article>
        <h3>We like to know what people are reading - and we like to know what people think about what they are
            reading.</h3>
        <p>"Read Together" was launched in 2017 to bring people who like to read... together. We're a small website
            operating out of Manchester, UK, but with a wide reach - we bring readers together from all over the world.</p>
        <p>Here at "Read Together", newcomers can read what people think about what they are reading.</p>
        <p> But to get the most out of the site, sign up so that you can tell people what you think about what you are
            reading.</p>
        <p>Or better still, why not tell people what you think about what they think about what people are reading!</p>
    </article>
{% endblock %}
