{% extends "::base.html.twig" %}

{% block title %}Add an Author{% endblock %}

{% block body %}



{% endblock %}

{% extends 'BookReviewBundle::layout.html.twig' %}

{% block title %}Add an Author{% endblock %}
{% block imageColumn %}
    <picture>
        <source media="(min-width: 1080px)" srcset="">
        <source media="(min-width: 600px)" srcset="">
        <img src="" alt="user image" style="width:auto">
    </picture>
    {{ form_start(form) }}
    {{ form_row(form.imageFile) }}
    {{ form_end(form) }}
{% endblock %}
{% block details %}
    <header>
        <h1>Add an Author to "Read Together"</h1>
    </header>

{% endblock %}
{% block list %}
    Add list here.
{% endblock %}

