{% extends 'BookReviewBundle::layout.html.twig' %}

{% block title %}Add an Author{% endblock %}
{% block imageColumn %}
    <img src="{{ asset('bundles/BookReviewBundle/assets/author_images/blank_author_image.png')}}" alt="user image" style="width:auto">
    {% javascripts %}
        <script type="text/javascript">
            var bb = document.querySelector ('.imageColumn')
                    .getBoundingClientRect(),
                imageColumnWidth = bb.right - bb.left;
//            var img = document.getElementsByTagName('authorImg');
            var img = document.getElementById('authorImg');
            img[0].style.width = imageColumnWidth;
            img[0].style.height = imageColumnWidth;
        </script>
    {% endjavascripts %}
{% endblock %}
{% block details %}
    <header>
        <h1>Add an Author to "Read Together"</h1>
    </header>
    {{ form_start(form) }}
    {{ form_row(form.imageFile) }}
    {{ form_end(form) }}
{% endblock %}
{% block list %}
    Add list here?
{% endblock %}

