{% extends 'BookReviewBundle::layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Let's "Read Together"</h1>
    Add New Book button that directs to /book/new
    Add button that directs to /author/new
{% endblock %}
