{% extends "::base.html.twig" %}

{% block title %}Admin Portal{% endblock %}

{% block body %}
<h1>Admin Portal</h1>
    <p>Review items should have report button, and a reported field.
        Moderator page opens on list of reported posts, who can
        block posts - option to block post (set message to "This comment has violated our T&C and has been removed"
        Also option to block a User (disable in superclass).
    </p>
{% endblock %}

